In [1]:
#Function to export the webscrap data to csv and excel.
def save_to_csv(df, filename=None):
    """
    Save the DataFrame to a CSV file
    """
    timestamp = datetime.now().strftime("%Y%m%d_%H%M%S")
    if filename is None:
        filename = f"WebScrap_{timestamp}.csv"

    try:
        filename = f"{filename}_{timestamp}.csv"
        df.to_csv(filename, index=False, encoding='utf-8')
        print(f"Data saved to {filename}")
        return True
    except Exception as e:
        print(f"Error saving to CSV: {e}")
        return False

def save_to_excel(df, filename=None):
    """
    Save the DataFrame to an Excel file
    """
    timestamp = datetime.now().strftime("%Y%m%d_%H%M%S")
    if filename is None:
        filename = f"WebScrap_{timestamp}.xlsx"

    try:
        filename = f"{filename}_{timestamp}.xlsx"
        df.to_excel(filename, index=False)
        print(f"Data saved to {filename}")
        return True
    except Exception as e:
        print(f"Error saving to Excel: {e}")
        return False

In [2]:
#Importing libraries
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
import matplotlib.pyplot as plt
import time
import csv
from datetime import datetime

In [3]:
#Link to the website
url = "https://en.wikipedia.org/wiki/List_of_S%26P_500_companies"

In [4]:
#To check if the link is reachable
headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/115.0 Safari/537.36"}

response = requests.get(url, headers=headers)

if response.status_code == 200:
    print("Request was successful")
else:
    print(f"Request failed, Status code: {response.status_code}")

Request was successful

In [5]:
headers = {"User-Agent": "Mozilla/5.0"}

response = requests.get(url, headers=headers)
soup = bs(response.text, "lxml")
table = soup.find("table", {"id": "constituents"})

In [6]:
# Extract headers
headers_row = [th.text.strip() for th in table.find("tr").find_all("th")]

# Extract rows
rows = []
for tr in table.find_all("tr")[1:]:
    cells = [td.text.strip() for td in tr.find_all(["td", "th"])]
    if cells:
        rows.append(cells)

# Convert to DataFrame
df = pd.DataFrame(rows, columns=headers_row)
df.head()

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,0000066740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,0000091142,1916
2,ABT,Abbott Laboratories,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,0000001800,1888
3,ABBV,AbbVie,Health Care,Biotechnology,"North Chicago, Illinois",2012-12-31,0001551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,0001467373,1989

In [7]:
df.shape

(503, 8)

In [8]:
save_to_csv(df, "List of S&P 500 companies")
save_to_excel(df, "List of S&P 500 companies")

Data saved to List of S&P 500 companies_20260209_174124.csv
Data saved to List of S&P 500 companies_20260209_174124.xlsx

True